{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Stars</th>
        <th>Index</th>
        <th>Title</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Year</th>
    </tr>
    {% for track in five_star_tracks %}
    <tr>
        <td>5</td>
        <td>{{ track.index }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.artist or track.album_artist }}</td>
        <td>{{ track.year }}</td>
    </tr>
    {% endfor %}
    {% for track in four_star_tracks %}
    <tr>
        <td>4</td>
        <td>{{ track.index }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.artist or track.album_artist }}</td>
        <td>{{ track.year }}</td>
    </tr>
    {% endfor %}
    {% for track in three_star_tracks %}
    <tr>
        <td>3</td>
        <td>{{ track.index }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.artist or track.album_artist }}</td>
        <td>{{ track.year }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
